* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    background: #ececec;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.7),
                0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
}

.date {
    position: absolute;
    width: 120px;
    height: 20px;
    border-radius: 2px;
    background: #ccc;
    text-align: center;
    line-height: 20px;
    color: #000;
    font-weight: 700;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ccc;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px #000;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.hands > div {
    position: absolute;
    left: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.hour-hand {
    z-index: 5;
    width: 6px;
    height: 65px;
    background: #333;
    top: 84px;
    margin-left: -3px;
    transform-origin: 50% 65px;
}

.minute-hand {
    z-index: 6;
    width: 4px;
    height: 100px;
    background: #666;
    top: 46px;
    margin-left: -2px;
    transform-origin: 50% 100px;
}

.second-hand {
    z-index: 7;
    width: 2px;
    height: 120px;
    background: #ff0000;
    top: 26px;
    margin-left: -1px;
    transform-origin: 50% 120px;
}

.hours > span {
    display: inline-block;
    position: absolute;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    z-index: 4;
}

.hour3 {
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
}

.hour6 {
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.hour9 {
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
}

.hour12 {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.diallines {
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 10px;
    background: #999;
    left: 50%;
    margin-left: -1px;
    margin-top: 10px;
    transform-origin: 50% 140px;
}

.diallines:nth-of-type(5n) {
    width: 3px;
    height: 20px;
    background: #777;
}