html, body {
    color: #3b3b3b;

    font-family: Consolas, 'Courier New', monospace;
}

body {
    background-color: #ffffff;
}

.keyword {
    color: #0000ff;
}

.local-variable {
    color: #001080;
}

.operator {
    color: #000000
}

.bracket {
    color: inherit;
}

.object-key {
    color: #001080;
}

.number {
    color: #098658;
}

.string {
    color: #a31515;
}

.dropbtn {
    background-color: #ffffff;
    color: #0000ff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #c1c1c1;
  }

  .dropdown-content a {
    color: #0000ff;
    background-color: #ffffff;
  }
  
  .dropdown-content a:hover {
    background-color: #c1c1c1;
  }