html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Hack NFM";
    src: url("../fonts/HackNerdFontMono-Regular.woff2") format("woff2");
}

*,
:before,
:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    line-height: 1.2;
    color: #e1e4e8;

    font-size: 32px;
    font-family: Consolas, 'Courier New', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #24292e;
    -webkit-font-smoothing: antialiased;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.tab:before {
    content: "\00A0\00A0\00A0\00A0";
}

.hidden {
    display: none;
}

.keyword {
    color: #f97583;
}

.local-variable {
    color: inherit;
}

.operator {
    color: #f97583;
}

.bracket {
    color: inherit;
}

.object-key {
    color: inherit;
}

.number {
    color: #79b8ff;
}

.string {
    color: #9ecbff;
}

.tab-on {
    text-indent: 2em;
}

/*Dropdown Information */

.dropbtn {
    background-color: #24292e;
    color: #f97583;
    padding: 5px;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #35383a;
  }
  
  /* The container <div> */
  .dropdown {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 15px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #f97583;
    background-color: #24292e;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #35383a;
  }
  
  .show {display:block;}